/* *{
  border: 1px solid red
} */
body {
  background: url(../images/Overlook.png);

  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hotel-logo{
  width: 30%;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~Login~~~~~~~~~~~~~~~~*/
.login-container{
  align-items: center;
  background: black;
  border-radius: 10px;
  display: flex;
  height: 300px;
  justify-content: center;
  opacity: .7;
  width: 500px;
}

.home-page{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~Main~~~~~~~~~~~~~~~~~~~~*/
.main-page{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.dashboard{
  align-items: center;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  opacity: .8;
  width: 90vw;
}

.reservations{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.reservation-display{
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
}

.reservations-scroller{
  width: 40%;
  text-align: center;
}

.scroller{
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
/*~~~~~~~~~~~~~~~~~~~~~Room card~~~~~~~~~~~~~~~~~~*/
.reservation{
  align-items: center;
  background: #d3d3d3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  width: 90%;
}

.room-image{
  height: 150px;
  width: 150px;
}

.bed-information{
  display: flex;
  width: 80%;
  justify-content: space-around;
}

/*~~~~~~~~~~~~~~~~~~~~~~Reservation search~~~~~~~~~~~~~~*/
.search-field{
  height: 30px;
  margin: 0;
}

.hidden{
  display: none;
}
